@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome to  Vendor Tracker</h1>
    <p class="lead">Manage your vendors and orders efficiently.</p>
    <hr class="my-4">
    <p>Click below to view your current vendors or add a new vendor!</p>
    <a class="btn btn-primary btn-lg" href="/vendors" role="button">View Vendors</a>
    <a class="btn btn-secondary btn-lg" href="/vendors/new" role="button">Add New Vendor</a>
</div>
